<div id="conteneur_fullsize">
<%if flash[:alert] %>
<p id ="notice" > <%= flash[:alert] %> </p>
<%end %>
<div class="article">
    <%= form_for(:session, url: login_sessions_path) do |f| %>
    	<center>
    	<div class="field">
      		<%= f.label :Nom %><br/>
      		<%= f.text_field :name, class: 'form-control' %>
      	</div>
      	<div class="field">
      		<%= f.label :"Mot de passe" %><br/>
      		<%= f.password_field :password, class: 'form-control' %>
      	</div>
      	<div class="field">
      		<%= f.submit "Connexion", class: "btn btn-primary" %>
      	</div>
      	</center>
    <% end %>
  </div>
</div>