<%= form_for(@bottle) do |f| %>
  <% if @bottle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bottle.errors.count, "error") %> prohibited this bottle from being saved:</h2>

      <ul>
      <% @bottle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :'Vin' %><br /> 
    <%= f.collection_select :wine_id, @wines, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :"Contenance (cl)" %><br>
    <%= f.text_field :capacity %>
  </div>
  <div class="field">
    <%= f.label :Prix %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :Stock %><br>
    <%= f.number_field :stock %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
