<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Nom %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :"Mot de passe" %><br>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :"Confirmer le mot de passe" %><br>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label :Rue %><br>
    <%= f.text_field :street %>
  </div>
  <div class="field">
    <%= f.label :Ville %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :"Code postal" %><br>
    <%= f.number_field :npa %>
  </div>
  <div class="field">
    <%= f.label :Canton %><br>
    <%= f.text_field :canton %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
