<div id="conteneur_intermediaire">
	<% @wines.each do |wine| %>
		<div class="vin">
			<h2><%= wine.name %></h2>
			<div class="image">
				<%= image_tag wine.image, :class=>'normal' %>
			</div>
			<div class="description">
		    	<p><%= image_tag 'vignoble.png', :class=>'icone' %><%= wine.vineyard %></p>
		    	<p><%= image_tag 'vin.png', :class=>'icone' %><%= wine.category.name%></p>
		    	<p><%= image_tag 'cepage.png', :class=>'icone'%><%= wine.grape%></p>
		      	<p><strong>DESCRIPTION</strong><br/><%= wine.desc %></p>
		      	<br/>
		      	<% @bottles.each do |bottle| %>
		      		<p> avant </p>
		      		<% if bottle.wine.id == wine.id %>
		      		<p> pendant</p>
		      			<%= form_for :link, :url => creer_link_bottle_path(bottle), :method => :post do |f| %>
		      				<div class="quantite">
			      				<%= image_tag 'contenance.png', :class=>'icone' %><%= bottle.capacity%> cl - <%= bottle.price %> CHF
				      			<%= f.number_field :number, :class=>'quantite' %>
				      			<%= f.submit "Ajouter au pannier" %>
		      				</div>
		      			<% end %>
		      		<% end %>
		      		<p> après </p>
		      	<% end %>
		    </div>
		</div>
	<% end %>
</div>

<div id="panier">
	<h2>Panier</h2>
	<table width="100%" id="articles">
		<tr>
		<td class="nom"><p>Article 1</p></td>
		<td class="quantite"><input type="text" class="commande" value="1" /></td>
		</tr>

		<tr>
		<td class="nom"><p>Article 2</p></td>
		<td class="quantite"><input type="text" class="commande" value="1" /></td>
		</tr>

		<tr>
		<td class="nom"><p>Article 3</p></td>
		<td class="quantite"><input type="text" class="commande" value="1" /></td>
		</tr>
	</table>
	<p><a class="lien" href="#">Passer la commande</a></p>
</div>