<div id="conteneur_intermediaire">
	<% @wines.each do |wine| %>
		<div class="vin">
			<h2><%= wine.name %></h2>
			<div class="image">
				<%= image_tag wine.image, :class=>'normal' %>
			</div>
			<div class="description">
		    	<p><%= image_tag 'vignoble.png', :class=>'icone' %><%= wine.vineyard %></p>
		    	<p><%= image_tag 'vin.png', :class=>'icone' %><%= wine.category.name%></p>
		    	<p><%= image_tag 'cepage.png', :class=>'icone'%><%= wine.grape%></p>
		      	<p><strong>DESCRIPTION</strong><br/><%= wine.desc %></p>
		      	<br/>
		      	<% @bottles.each do |bottle| %>
		      		<% if bottle.wine.id == wine.id %>
		      		
		      			<%= form_for :link, :remote=>true , :url => creer_link_bottle_path(bottle), :method => :post do |f| %>

		      				<div class="quantite">
			      				<%= image_tag 'contenance.png', :class=>'icone' %><%= bottle.capacity%> cl - <%= bottle.price %> CHF
				      			<%= f.number_field :number, :class=>'quantite' %>
				      			<%= f.submit "Ajouter au pannier" %>
		      				</div>
		      			<% end %>
		      		<% end %>
		      	<% end %>
		    </div>
		</div>
	<% end %>
</div>

<div id="panier">
	<h2>Panier</h2>
	<%= form_for @order,:remote=>true, :url => submit_order_orders_path, :method => :post do |f| %>
	<table width="100%" id="articles">
		
	</table>
	<table id="total"> </table>
	<p><%= f.submit "Passer la commande" %></p>
	<%end %>
</div>