<div id="conteneur_intermediaire">
	<% @bottles.each do |bottle| %>
		<div class="vin">
			<div class="image">
				<%= image_tag bottle.wine.image, :class=>'normal' %>
			</div>

			<div class="ajouter">
				<a href="#"><img src="ajouter.png" onmouseover="this.src='ajouter2.png'" onmouseout="this.src='ajouter.png'" /></a>
			</div>

			<div class="description">
		    	<p><%= image_tag 'lieu.png', :class=>'icone' %><%= bottle.wine.vineyard %></p>
		    	<p><%= image_tag 'vin.png', :class=>'icone' %><%= bottle.wine.category.name%></p>
		      	<p><%= image_tag 'contenance.png', :class=>'icone' %><%= bottle.capacity%> cl</p>
		      	<p><strong>DESCRIPTION</strong><br/><%= @wine.desc %></p>
		    </div>
		</div>
	<% end %>


	<div class="vin">
		<div class="image">
			<%= image_tag 'Hautecour2.jpg', :class=>'normal' %>
		</div>

		<div class="ajouter">
			<a href="#"><img src="ajouter.png" onmouseover="this.src='ajouter2.png'" onmouseout="this.src='ajouter.png'" /></a>
		</div>

		<div class="description">
			<h2>Nom du vin</h2>
			<p><%= image_tag 'date.png', :class=>'icone' %>Ann&eacute;e : 2016</p>
			<p><%= image_tag 'vin.png', :class=>'icone' %>Type de vin</p>
			<p><%= image_tag 'contenance.png', :class=>'icone' %>Contenance</p>
			<p>DESCRIPTION a a a a a a aa a a a a a a a a a a aa a a a a a a a a a a a a a aa a a a am a a a a a a a a a a a a a a a a a a a aa a a a am a a a a a a a a a a a a a a a a a a a a aa a a a a a a a a aa a a a a aa a a a a a aa a a a a aa a a a a aa a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a</p>
		</div>
	</div>
	<div class="vin">
		<div class="image">
			<%= image_tag 'Hautecour2.jpg', :class=>'normal' %>
		</div>

		<div class="ajouter">
			<a href="#"><img src="ajouter.png" onmouseover="this.src='ajouter2.png'" onmouseout="this.src='ajouter.png'" /></a>
		</div>

		<div class="description">
			<h2>Nom du vin</h2>
			<p><%= image_tag 'date.png', :class=>'icone' %>Ann&eacute;e : 2016</p>
			<p><%= image_tag 'vin.png', :class=>'icone' %>Type de vin</p>
			<p>DESCRIPTION a a a a a a aa a a a a a a a a a a aa a a a a a a a a a a a a a aa a a a am a a a a a a a a a a a a a a a a a a a aa a a a am a a a a a a a a a a a a a a a a a a a a aa a a a a a a a a aa a a a a aa a a a a a aa a a a a aa a a a a aa a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a</p>
		</div>
	</div>
	<div class="vin">
		<div class="image">
			<%= image_tag 'Hautecour2.jpg', :class=>'normal' %>
		</div>

		<div class="ajouter">
			<a href="#"><img src="ajouter.png" onmouseover="this.src='ajouter2.png'" onmouseout="this.src='ajouter.png'" /></a>
		</div>

		<div class="description">
			<h2>Nom du vin</h2>
			<p><%= image_tag 'date.png', :class=>'icone' %>Ann&eacute;e : 2016</p>
			<p><%= image_tag 'vin.png', :class=>'icone' %>Type de vin</p>
			<p>DESCRIPTION a a a a a a aa a a a a a a a a a a aa a a a a a a a a a a a a a aa a a a am a a a a a a a a a a a a a a a a a a a aa a a a am a a a a a a a a a a a a a a a a a a a a aa a a a a a a a a aa a a a a aa a a a a a aa a a a a aa a a a a aa a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a</p>
		</div>
	</div>
	<div class="vin">
		<div class="image">
			<%= image_tag 'Hautecour2.jpg', :class=>'normal' %>
		</div>

		<div class="ajouter">
			<a href="#"><img src="ajouter.png" onmouseover="this.src='ajouter2.png'" onmouseout="this.src='ajouter.png'" /></a>
		</div>

		<div class="description">
			<h2>Nom du vin</h2>
			<p><%= image_tag 'date.png', :class=>'icone' %>Ann&eacute;e : 2016</p>
			<p><%= image_tag 'vin.png', :class=>'icone' %>Type de vin</p>
			<p>DESCRIPTION a a a a a a aa a a a a a a a a a a aa a a a a a a a a a a a a a aa a a a am a a a a a a a a a a a a a a a a a a a aa a a a am a a a a a a a a a a a a a a a a a a a a aa a a a a a a a a aa a a a a aa a a a a a aa a a a a aa a a a a aa a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a</p>
		</div>
	</div>
</div>

<div id="panier">
	<h2>Panier</h2>
	<table width="100%" id="articles">
		<tr>
		<td class="nom"><p>Article 1</p></td>
		<td class="quantite"><input type="text" class="commande" value="1" /></td>
		</tr>

		<tr>
		<td class="nom"><p>Article 2</p></td>
		<td class="quantite"><input type="text" class="commande" value="1" /></td>
		</tr>

		<tr>
		<td class="nom"><p>Article 3</p></td>
		<td class="quantite"><input type="text" class="commande" value="1" /></td>
		</tr>
	</table>
	<p><a class="lien" href="#">Passer la commande</a></p>
</div>