<div id="conteneur_fullsize">

	<% @events.each do |event| %>
        <div class="evenement">
			<div class="image">
				<%= image_tag 'Hautecour2.jpg', :class=>'normal' %>
			</div>

			<div class="description">
				<h2><%= event.title %></h2>
				<p><%= image_tag 'date.png', :class=>'icone' %>DATE(S)</p>
				<p><%= image_tag 'lieu.png', :class=>'icone' %><%= event.beginAt %></p>
				<p><%= event.text %></p>
			</div>
		</div>
    <% end %>

</div>