<%= render "layouts/account_menu" %>

<div id="conteneur_intermediaire_right">
	<div class="article">
		<h2>Liste des commandes </h2>
		<br/>
		<br/>
		<table>
      		<thead>
        		<tr>
          			<th>Id</th>
          			<th>Prix total</th>
          			<th>Status</th>
          			<th colspan="1"></th>
        		</tr>
      		</thead>
			<tbody>
        	<% @orders.each do |order| %>
          		<tr>
            		<td><%= order.id %></td>
            		<td><%= order.total_price %> CHF</td>
            		<td><%= order.status.name %></td>
            		<td><%= link_to 'Afficher détails', order %></td>
          		</tr>
        	<% end %>
      		</tbody>
    	</table>
	</div>
</div>
