<%= form_for(@wine) do |f| %>
  <% if @wine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wine.errors.count, "error") %> prohibited this wine from being saved:</h2>

      <ul>
      <% @wine.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :'Nom' %><br>
    <%= f.text_field :name, :maxlength=>"30" %>
  </div>
  <div class="field">
    <%= f.label :'Description' %><br>
    <%= f.text_area :desc, :maxlength=>"254", :size=>"50x6" %>
  </div>
  <div class="field">
    <%= f.label :'Vignoble' %><br>
    <%= f.text_field :vineyard %>
  </div>
  <div class="field">
    <%= f.label :'Cépage' %><br>
    <%= f.text_field :grape %>
  </div>
  <div class="field">
    <%= f.label :'Image - URL' %><br>
    <%= f.text_field :image %>
  </div>
  <div class="field">
    <%= f.label :'Catégorie' %><br /> 
    <%= f.collection_select :category_id, @categories, :id, :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>
