<div id="gestion">
  <h2>Gestionnaire</h2>
  <p><%= link_to 'Gérer les vins', wines_path%></p>
  <p><a href="#">Gérer les bouteilles</a></p>
  <p><a href="#">Gérer les stocks</a></p>
  <p><a href="#">Gérer les commandes</a></p>
  <p><%= link_to 'Gérer les évènements', events_path%></p>
</div>

<div id="conteneur_intermediaire_right">
  <div class="article">
    <h1>Listes des vins disponibles</h1>
    <br/>

    <table border=2>
      <thead>
        <tr>
          <th>Nom</th>
          <th>Vignoble</th>
          <th>Cépage</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @wines.each do |wine| %>
          <tr>
            <td><%= wine.name %></td>
            <td><%= wine.vineyard %></td>
            <td><%= wine.grape %></td>
            <td><%= link_to 'Afficher', wine %></td>
            <td><%= link_to 'Editer', edit_wine_path(wine) %></td>
            <td><%= link_to 'Supprimer', wine, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br/>

    <%= link_to 'Ajouter un nouveau vin', new_wine_path %>

    <br/>
  </div>
</div>
